a {
  color: #ffd159;
}
a:hover {
  color: white;
}
.navbar {
  background-color: #14171f;
  display: flex;
  align-items: center;
}
h6 {
  padding: 0;
  margin: 0;
  color: #ffd159;
}

.btn {
  background-color: #ffd159;
  color: #14171f;
  border: none;
}

nav {
  height: 4rem;
}

.nav-link.active,
.navbar-nav .nav-link.show {
  color: white !important;
}

.nav-link.active:hover,
.navbar-nav .nav-link.show:hover {
  color: white !important;
}
.navbar.sticky-top {
  top: 0;
}

body {
  padding-top: 4rem;
}
