.container{
    width: 30em;
    padding: 2em;
    background-color: #14171F;
    color: #FFA118;
    border-radius: 10px;
}

.btn{
    background-color: #FFA118;
    color: #14171F;
    border: none
}

:host{
    display: flex;
    align-items: center;
    height: calc(100vh - 4rem);
}