a{
    color: #FFA118;
}
.navbar{
    background-color: #911315;
    display: flex;
    align-items: center;
}
h6{
    padding: 0;
    margin: 0;
    color: #FFA118;
}

.add-btn{
    background-color: #911315;
    color: #FFA118;
    border: none;
}
.del-btn{
    background-color: #FFA118;
    color: #911315;
    border: none;
}
.saved{
    background-color: #FFA118;
}
.card{
    width: 250px;
}
img{
    height: 350px;
}