h6 {
  padding: 0;
  margin: 0;
  color: #ffd159;
}

.add-btn {
  background-color: #232f4b;
  color: #ffd159;
  border: none;
}
.del-btn {
  background-color: #ffd159;
  color: #171f32;
  border: none;
}
.saved {
  background-color: #ffd159;
}
.card {
  background-color: #14171f;
  color: #ffd159;
}
img {
  height: 350px;
}
